{% load static %}
<!DOCTYPE html>
<html lang="en">
{% if user.is_authenticated %}
    <h1 style="text-align: center">
        999 dice betting bot
    </h1>
    <hr>

    <div style="display: flex; flex-wrap: nowrap;">
        <div style="justify-content: space-around; margin-left: 05em">

            <div class="user-table-div"><h2>User Stat</h2>
                <p>The stat for the user is given below: </p>
                <table class="table table-bordered stat-table">

                    <tbody>


                    </tbody>
                </table>
            </div>

        </div>

        <div style="justify-content: space-around; margin-left: 3em; margin-right: 3em;">


            <form>
                <h2>Bet options</h2>
                <div class="form-group row">
                    <label for="example-number-input" class="col-2 col-form-label">Bet Amount in satoshis</label>
                    <div class="col-10">
                        <input class="form-control" type="number" value="1" id="example-number-input">
                    </div>
                </div>
                <a href="#" class="btn btn-block btn-lg btn-primary bet-high" style="width: 100%;"><span
                        class="glyphicon glyphicon-arrow-up"></span> Bet High (50-100)</a>

                <a href="#" class="btn btn-block btn-lg btn-info bet-low" style="width: 100%;"><span
                        class="glyphicon glyphicon-arrow-down"></span> Bet Low (0-50)</a>
            </form>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"
                    type="text/javascript"></script>

            <div style="width:100%;">
                <canvas id="myChart" width="400" height="250"></canvas>
            </div>
        </div>

        <div style="justify-content: space-around;">
            <div style="justify-content: space-around; height: 13em;margin-top: 1em">
                <p class="last-bet-result">Bet results will appear here!</p>
                {#                <p style="margin-top: 1em;font-size: 2em;" class="last-bet-amount">1 satoshi</p>#}
            </div>


        </div>


    </div>
    <head>
        <meta charset="UTF-8">
        <title>999Dice Betting Bot</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    </head>
    <body>


    <p class="json-response" type="hidden" style="display: none">
        {{ response }}
    </p>

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>


    <script>$('document').ready(function () {
        var myJson = JSON.parse($('.json-response').text());
        var profit = 0;
        var counter = 0;
        var labelList = [];
        var dataList = [];
        var canvas = document.getElementById('myChart');
        var chartData = {
            labels: [],
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },
            datasets: [
                {
                    label: "Profit",
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 5,
                    pointHitRadius: 10,
                    data: [],
                }
            ]
        };

        function adddata() {
            myLineChart.data.datasets[0].data[7] = 60;
            myLineChart.data.labels[7] = "Newly Added";
            myLineChart.update();
        }

        var option = {
            showLines: true
        };
        var myLineChart = Chart.Line(canvas, {
            data: chartData,
            options: option
        });

        var myJson = JSON.parse($('.json-response').text())
        var profit = 0;
        var counter = 0;
        var labelList = [];
        var dataList = [];
        for (mykey in myJson) {
            if (["Doge", "LTC", "XMR", "ETH"].indexOf(mykey) !== -1) {
                continue;
            }

            $('.stat-table tbody').append('<tr class="child"><td class="table-data">' + mykey + '</td><td>' + myJson[mykey] + '</td></tr>');

        }


        $('.bet-high').click(function (e) {

            e.preventDefault();
            $.get("api/create/",
                {
                    'choice': 'high',
                    'session': myJson['SessionCookie'],
                    'amount': $('#example-number-input').val()
                },
                function (data, status) {
                    {#                alert("Data: " + data + "\nStatus: " + status);#}
                    data = JSON.parse(data)
                    if (parseInt(data['InsufficientFunds']) === 1) {
                        alert("Insufficient funds. Please deposit or claim bitcoins from the faucet.");
                    }
                    else if (data['PayOut'] === 0) {
                        profit = (profit - $('#example-number-input').val());
                        {#                    chart.options.title.text = "New DataPoint Added at the end";#}
                        chartData.datasets[0].data.push(profit);
                        chartData.labels.push(counter++);
                        myLineChart.update();
                        $('.last-bet-result').html('<p style="margin-top: 1em;font-size: 2em; color:red;" class="last-bet-result">Last Bet: Loss<br>' + $("#example-number-input").val() + " satoshis" + '</p>');

                    }
                    else if (data['PayOut'] > 0) {
                        profit += data['PayOut'] - $('#example-number-input').val();
                        {#                    chart.options.title.text = "New DataPoint Added at the end";#}
                        chartData.datasets[0].data.push(profit);
                        chartData.labels.push(counter++);
                        myLineChart.update();
                        $('.last-bet-result').html('<p style="margin-top: 1em;font-size: 2em; color:green;" class="last-bet-result">Last Bet: WIN!<br>' + $("#example-number-input").val() + ' satoshis' + '</p>');

                    }


                });


        });

        $('.bet-low').click(function (e) {
            e.preventDefault();
            $.get("api/create/",
                {
                    'choice': 'low',
                    'session': myJson['SessionCookie'],
                    'amount': $('#example-number-input').val()
                },
                function (data, status) {
                    {#                alert("Data: " + data + "\nStatus: " + status);#}
                    data = JSON.parse(data);

                    if (parseInt(data['InsufficientFunds']) === 1) {
                        alert("Insufficient funds. Please deposit or claim bitcoins from the faucet.");
                    }

                    else if (data['PayOut'] === 0) {
                        profit = (profit - $('#example-number-input').val());
                        {#                    chart.options.title.text = "New DataPoint Added at the end";#}
                        chartData.datasets[0].data.push(profit);
                        chartData.labels.push(counter++);
                        myLineChart.update();
                        $('.last-bet-result').html('<p style="margin-top: 1em;font-size: 2em; color:red;" class="last-bet-result">Last Bet: Loss<br>' + $("#example-number-input").val() + ' satoshis' + '</p>');

                    }
                    else if (data['PayOut'] > 0) {
                        profit += data['PayOut'] - $('#example-number-input').val();
                        {#                    chart.options.title.text = "New DataPoint Added at the end";#}
                        chartData.datasets[0].data.push(profit);
                        chartData.labels.push(counter++);
                        myLineChart.update();
                        $('.last-bet-result').html('<p style="margin-top: 1em;font-size: 2em; color:green;" class="last-bet-result">Last Bet: WIN!<br>' + $("#example-number-input").val() + ' satoshis' + '</p>');

                    }


                });


        })
        ;


    })
    ;
    </script>


    <style>
        .table {
            width: unset;
        }

        .table td, .table th {
            padding: 0.3rem;
        }

        .user-table-div {
            left: 0;
        }

    </style>
    </body>
{% else %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>999DICE Better and visualizer</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="cover.css" rel="stylesheet">
    </head>

    <body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container" style="margin-top: 20px;">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Bet Visualizer</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" href="#">Home</a>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Visualize your bets</h1>
                    {% if sucesss %}
                        <p class="lead">{{ sucesss }}</p>
                        <p class="lead">


                        <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Login</a>
                    {% else %}
                        <p class="lead">999dice bet visualizer is a tool to aid players visualize their bets.<br>Note: You
                        need to create an account at 999dice.com in order to use this service.</p>
                        <p class="lead">
                        <a href="{% url 'signup' %}" class="btn btn-lg btn-secondary">Sign Up Now</a> OR
                        <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Login</a>
                    {% endif %}

                    </p>
                </div>


            </div>

        </div>

    </div>
    <style>
        /*
 * Globals
 */

        /* Links */
        a,
        a:focus,
        a:hover {
            color: #fff;
        }

        /* Custom default button */
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none; /* Prevent inheritance from `body` */
            background-color: #fff;
            border: .05rem solid #fff;
        }

        /*
         * Base structure
         */

        html,
        body {
            height: 100%;
            background-color: #333;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            justify-content: center;
            color: #fff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        }

        .cover-container {
            max-width: 42em;
        }

        /*
         * Header
         */
        .masthead {
            margin-bottom: 2rem;
        }

        .masthead-brand {
            margin-bottom: 0;
        }

        .nav-masthead .nav-link {
            padding: .25rem 0;
            font-weight: 700;
            color: rgba(255, 255, 255, .5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }

        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }

            .nav-masthead {
                float: right;
            }
        }

        /*
         * Cover
         */
        .cover {
            padding: 0 1.5rem;
        }

        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: 700;
        }

        /*
         * Footer
         */
        .mastfoot {
            color: rgba(255, 255, 255, .5);
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://code.jquery.com/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
{% endif %}


</html>